.add-city {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  &__wrapper {
    width: 60%;
  }
  &__select {
    width: 100%;
  }
  &__btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 100;
    background-color: $blue;
    color: #fff;
    border-radius: 5px;
    border: none;
    align-self: flex-start;
  }
  &__title {
    font-size: 28px;
    color: $blue;
    margin-bottom: 25px;
    font-weight: 100;
  }
}

// .react-autosuggest__suggestions-container--open {
//   margin-top: 10px;
//   padding: 10px;
//   max-height: 300px;
//   overflow: scroll;
// }
// .suggestionHighlighted {
//   background-color: red;
// }

.react-autosuggest {
  &__container {
    width: 70%;
    position: relative;
  }
  &__input {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid $blue;
    border-radius: 5px;
  }
  &__input--focused {
    outline: none;
  }
  &__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__suggestions-container {
    display: block;
  }
  &__suggestions-container--open {
    display: block;
    max-height: 300px;
    overflow-Y: scroll;
    border: 1px solid #aaa;
    background-color: #fff;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 2;
  }
  &__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__suggestion {
    cursor: pointer;
    padding: 10px 20px;
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-name {
      color: $blue;
      font-weight: 100;
    }
    &-country {
      font-weight: 600;
      color: $orange;
    }
  }
  &__suggestion--highlighted {
    background-color: rgba($color: $blue, $alpha: 0.15);
  }
}
