.cities-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  &__block {
    margin-bottom: 50px;
  }
  &__item {
    padding-left: 25px;
    position: relative;
    color: $blue;
    font-size: 28px;
    cursor: pointer;
    transition: all linear 0.3s;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      background-color: $blue;
      border-radius: 50%;
      transition: all linear 0.3s;
    }
    &--active {
      color: $orange;
      &:before {
        background-color: $orange;
      }
    }
  }
}
