* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
}
html {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1;
  font-family: "Open Sans", sans-serif, arial;
  min-height: 100%;
}

#root {
  height: 100vh;
}

// ! colors //

$blue: #6277bf;
$orange: #e25f00;

.weather-app {
  display: flex;
  height: 100%;

  &__sidebar {
    width: 400px;
    background-color: #fff4e9;
    box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.02);
    padding: 30px;
    position: sticky;
    // overflow: hidden;
    max-height: 100%;
  }
}

@import "./components/Logo/logo";
@import "./components/CitiesList/CitiesList";
@import "./components/AddBtn/AddBtn";
@import "./components/City/City";
@import "./components/AddCity/AddCity";
